<!DOCTYPE HTML>
<html>
<head>
    <title>The Parallel Website Template | Home</title>
    <link href="static/css/style.css" media="all" rel="stylesheet" type="text/css"/>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="static/css/magnific-popup1.css" rel="stylesheet" type="text/css">
    <link href="static/css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <!--  jquery plguin -->
    <script src="static/js/jquery.min.js" type="text/javascript"></script>
    <!--start slider -->
    <link href="static/css/fwslider.css" media="all" rel="stylesheet">
    <script src="static/js/jquery-ui.min.js"></script>
    <script src="static/js/css3-mediaqueries.js"></script>
    <script src="static/js/fwslider.js"></script>
    <!--end slider -->
    <script type="text/javascript">
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({easingType: 'easeOutQuart'});

        });
    </script>
    <!-- Add fancyBox light-box -->
    <script src="static/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });
        });
    </script>
    <!-- //End fancyBox light-box -->
</head>
<body>
<!-- start header -->
<div class="header_bg">
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <h1><a href="index.html"><img alt="" src="static/images/logo.png"/></a></h1>
            </div>
            <div class="h_right">
                <ul class="menu">
                    <li class="active"><a href="/">首页</a></li>
                    <li><a class="scroll" href="/movie">电影</a></li>
                    <li><a class="scroll" href="/score">评分</a></li>
                    <li><a class="scroll" href="/word">词云</a></li>
                    、
                    <li class="last"><a class="scroll" href="/team">团队</a></li>
                </ul>

                <script src="static/js/classie.js"></script>
                <script src="static/js/uisearch.js"></script>
                <script>
                    new UISearch(document.getElementById('sb-search'));
                </script>
                <!-- start smart_nav * -->
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item"><a href="/home">Home</a></li>
                        <li class="nav-item"><a class="scroll" href="/services">Services</a></li>
                        <li class="nav-item"><a class="scroll" href="/portfolio">Portfolio</a></li>
                        <li class="nav-item"><a class="scroll" href="/pricing">Pricing</a></li>
                        <li class="nav-item"><a class="scroll" href="/about">About</a></li>
                        <li class="nav-item"><a class="scroll" href="/contact">Contact</a></li>
                        <div class="clear"></div>
                    </ul>
                </nav>
                <script src="static/js/responsive.menu.js" type="text/javascript"></script>
                <!-- end smart_nav * -->
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-----------service------------>
<div class="sevice" id="services">
    <div class="wrap">
        <div class="service-grids">
            <h2>豆瓣电影TOP250数据分析</h2>
            <div class="images_1_of_4">
                <img src="static/images/cal.png">
                <h3><a href="/movie">250 经典电影</a></h3>
            </div>
            <div class="images_1_of_4">
                <img src="static/images/port.png">
                <h3><a href="/score">评分统计</a></h3>
            </div>
            <div class="images_1_of_4">
                <img src="static/images/recyle.png">
                <h3><a href="/word">词汇统计</a></h3>
            </div>
            <div class="images_1_of_4">
                <img src="static/images/camera.png">
                <h3><a href="/team">团队成员</a></h3>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-----------//service//------------>

<div class="cbp-so-scroller" id="cbp-so-scroller">
    <!--Portfolio-->
    <div class="clearfix" id="portfolio">
        <div class="portfolio-bg"></div>
        <div class="typo1">
            <div class="wrapper clearfix">
                <div class="section-title">
                    <h3 class="heading">Portfolio</h3>
                    <h6></h6>
                </div><!--end:section-title-->

                <div class="clearfix" id="options">
                    <ul class="option-set clearfix" data-option-key="filter" id="filters">
                        <li><a data-option-value=".web-design" href="#filter">Web-design</a></li>
                        <li><a data-option-value=".photo" href="#filter">UI Design</a></li>
                        <li><a data-option-value=".ios-app" href="#filter">Prototype</a></li>
                        <li><a data-option-value=".graphic" href="#filter">Photography</a></li>
                    </ul><!--end:filters-->
                </div>

            </div><!--end:wrapper-->

            <ul class="clickable cs-style-5 grid clearfix isotope" id="container"
                style="position: relative; overflow: hidden; height: 534px; width: 1475px;">

                <li class="element photo isotope-item"
                    style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 0px, 0px);">
                    <figure>
                        <img alt="" src="static/images/pf-1.jpg">
                        <figcaption>
                            <h3><a href="#">This is project name</a></h3>
                            <div class="meta-box clearfix">
                                <span class="entry-categories"><a href="#">print art</a></span>
                                &nbsp;/&nbsp;
                                <span class="entry-categories"><a href="#">photo</a></span>
                            </div>
                            <footer>
                                <div id="nivo-lightbox-demo"><p><a data-lightbox-gallery="gallery1"
                                                                   href="static/images/pf-1.jpg"
                                                                   id="nivo-lightbox-demo"> View</a></p></div>
                            </footer>
                        </figcaption>
                    </figure>

                </li>

                <li class="element web-design isotope-item"
                    style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(295px, 0px, 0px);">
                    <figure>
                        <img alt="" src="static/images/pf-2.jpg">
                        <figcaption>
                            <h3><a href="#">This is project name</a></h3>
                            <div class="meta-box clearfix">
                                <span class="entry-categories"><a href="#">print art</a></span>
                                &nbsp;/&nbsp;
                                <span class="entry-categories"><a href="#">photo</a></span>
                            </div>
                            <footer>
                                <div id="nivo-lightbox-demo"><p><a data-lightbox-gallery="gallery1"
                                                                   href="static/images/pf-2.jpg"
                                                                   id="nivo-lightbox-demo"> View</a></p></div>
                            </footer>
                        </figcaption>
                    </figure>

                </li>

                <li class="element ios-app isotope-item"
                    style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(590px, 0px, 0px);">
                    <figure>
                        <img alt="" src="static/images/pf-3.jpg">
                        <figcaption>
                            <h3><a href="#">This is project name</a></h3>
                            <div class="meta-box clearfix">
                                <span class="entry-categories"><a href="#">print art</a></span>
                                &nbsp;/&nbsp;
                                <span class="entry-categories"><a href="#">photo</a></span>
                            </div>
                            <footer>
                                <div id="nivo-lightbox-demo"><p><a data-lightbox-gallery="gallery1"
                                                                   href="static/images/pf-3.jpg"
                                                                   id="nivo-lightbox-demo"> View</a></p></div>
                            </footer>
                        </figcaption>
                    </figure>

                </li>

                <li class="element graphic isotope-item"
                    style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(885px, 0px, 0px);">
                    <figure>
                        <img alt="" src="static/images/pf-4.jpg">
                        <figcaption>
                            <h3><a href="#">This is project name</a></h3>
                            <div class="meta-box clearfix">
                                <span class="entry-categories"><a href="#">print art</a></span>
                                &nbsp;/&nbsp;
                                <span class="entry-categories"><a href="#">photo</a></span>
                            </div>
                            <footer>
                                <div id="nivo-lightbox-demo"><p><a data-lightbox-gallery="gallery1"
                                                                   href="static/images/pf-4.jpg"
                                                                   id="nivo-lightbox-demo"> View</a></p></div>
                            </footer>
                        </figcaption>
                    </figure>

                </li>

                <li class="element photo isotope-item"
                    style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(1180px, 0px, 0px);">
                    <figure>
                        <img alt="" src="static/images/pf-5.jpg">
                        <figcaption>
                            <h3><a href="#">This is project name</a></h3>
                            <div class="meta-box clearfix">
                                <span class="entry-categories"><a href="#">print art</a></span>
                                &nbsp;/&nbsp;
                                <span class="entry-categories"><a href="#">photo</a></span>
                            </div>
                            <footer>
                                <div id="nivo-lightbox-demo"><p><a data-lightbox-gallery="gallery1"
                                                                   href="static/images/pf-5.jpg"
                                                                   id="nivo-lightbox-demo"> View</a></p></div>
                            </footer>
                        </figcaption>
                    </figure>

                </li>

                <li class="element web-design isotope-item"
                    style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 267px, 0px);">
                    <figure>
                        <img alt="" src="static/images/pf-6.jpg">
                        <figcaption>
                            <h3><a href="#">This is project name</a></h3>
                            <div class="meta-box clearfix">
                                <span class="entry-categories"><a href="#">print art</a></span>
                                &nbsp;/&nbsp;
                                <span class="entry-categories"><a href="#">photo</a></span>
                            </div>
                            <footer>
                                <div id="nivo-lightbox-demo"><p><a data-lightbox-gallery="gallery1"
                                                                   href="static/images/pf-6.jpg"
                                                                   id="nivo-lightbox-demo"> View</a></p></div>
                            </footer>
                        </figcaption>
                    </figure>

                </li>

                <li class="element ios-app isotope-item"
                    style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(295px, 267px, 0px);">
                    <figure>
                        <img alt="" src="static/images/pf-7.jpg">
                        <figcaption>
                            <h3><a href="#">This is project name</a></h3>
                            <div class="meta-box clearfix">
                                <span class="entry-categories"><a href="#">print art</a></span>
                                &nbsp;/&nbsp;
                                <span class="entry-categories"><a href="#">photo</a></span>
                            </div>
                            <footer>
                                <div id="nivo-lightbox-demo"><p><a data-lightbox-gallery="gallery1"
                                                                   href="static/images/pf-7.jpg"
                                                                   id="nivo-lightbox-demo"> View</a></p></div>
                            </footer>

                        </figcaption>
                    </figure>

                </li>

                <li class="element graphic isotope-item"
                    style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(590px, 267px, 0px);">
                    <figure>
                        <img alt="" src="static/images/pf-8.jpg">
                        <figcaption>
                            <h3><a href="#">This is project name</a></h3>
                            <div class="meta-box clearfix">
                                <span class="entry-categories"><a href="#">print art</a></span>
                                &nbsp;/&nbsp;
                                <span class="entry-categories"><a href="#">photo</a></span>
                            </div>
                            <footer>
                                <div id="nivo-lightbox-demo"><p><a data-lightbox-gallery="gallery1"
                                                                   href="static/images/pf-8.jpg"
                                                                   id="nivo-lightbox-demo"> View</a></p></div>
                            </footer>
                        </figcaption>
                    </figure>
                </li>

                <li class="element photo isotope-item"
                    style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(885px, 267px, 0px);">
                    <figure>
                        <img alt="" src="static/images/pf-9.jpg">
                        <figcaption>
                            <h3><a href="#">This is project name</a></h3>
                            <div class="meta-box clearfix">
                                <span class="entry-categories"><a href="#">print art</a></span>
                                &nbsp;/&nbsp;
                                <span class="entry-categories"><a href="#">photo</a></span>
                            </div>
                            <footer>
                                <div id="nivo-lightbox-demo"><p><a data-lightbox-gallery="gallery1"
                                                                   href="static/images/pf-9.jpg"
                                                                   id="nivo-lightbox-demo"> View</a></p></div>
                            </footer>
                        </figcaption>
                    </figure>

                </li>

                <li class="element web-design isotope-item"
                    style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(1180px, 267px, 0px);">
                    <figure>
                        <img alt="" src="static/images/pf-10.jpg">
                        <figcaption>
                            <h3><a href="#">This is project name</a></h3>
                            <div class="meta-box clearfix">
                                <span class="entry-categories"><a href="#">print art</a></span>
                                &nbsp;/&nbsp;
                                <span class="entry-categories"><a href="#">photo</a></span>
                            </div>
                            <footer>
                                <div id="nivo-lightbox-demo"><p><a data-lightbox-gallery="gallery1"
                                                                   href="static/images/pf-10.jpg"
                                                                   id="nivo-lightbox-demo"> View</a></p></div>
                        </figcaption>
                    </figure>
                </li>
                <div class="clear"></div>
            </ul> <!-- #container -->

        </div><!--end:typo1-->
    </div>
</div>
<!-- portfolio_script_javascript-->
<script src="static/js/jquery.min.js" type="text/javascript"></script>
<script src="static/js/jquery.isotope.min.js"></script>
<script src="static/js/jquery.prettyPhoto.js"></script>
<script src="static/js/custom.js"></script>
<script src="static/js/modernizr.custom.js"></script>

<!-----------start-pricing----------->
<div class="pricing-plans" id="pricing">
    <div class="wrap">
        <h3>Our Price</h3>
        <div class="pricing-grids">
            <div class="pricing-grid">
                <div class="price-value">
                    <a href="#">Wesite hosting</a>
                </div>
                <h3><a href="#">$5.01/month</a></h3>
                <ul>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Dolor sitamet, Consect</a></li>
                    <li><a href="#">Adipiscing elit</a></li>
                    <li><a href="#">Proin commodo turips</a></li>
                    <li><a href="#">Laws pulvinarvel</a></li>
                    <li><a href="#">Prnare nisi pretium</a></li>
                </ul>
                <div class="cart">
                    <div class="span3"><a class="popup-with-zoom-anim" href="#small-dialog"><i>Purchase</i></a>
                    </div>
                </div>
            </div>
            <div class="pricing-grid">
                <div class="price-value">
                    <a href="#">Reseller cloud</a>
                </div>
                <h3><a href="#">$10.01/month</a></h3>
                <ul>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Dolor sitamet, Consect</a></li>
                    <li><a href="#">Adipiscing elit</a></li>
                    <li><a href="#">Proin commodo turips</a></li>
                    <li><a href="#">Laws pulvinarvel</a></li>
                    <li><a href="#">Prnare nisi pretium</a></li>
                </ul>
                <div class="cart">
                    <div class="span3"><a class="popup-with-zoom-anim" href="#small-dialog"><i>Purchase</i></a>
                    </div>
                </div>
            </div>
            <div class="pricing-grid">
                <div class="price-value">
                    <a href="#">Dedicated hosting</a>
                </div>
                <h3><a href="#">$20.01/month</a></h3>
                <ul>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Dolor sitamet, Consect</a></li>
                    <li><a href="#">Adipiscing elit</a></li>
                    <li><a href="#">Proin commodo turips</a></li>
                    <li><a href="#">Laws pulvinarvel</a></li>
                    <li><a href="#">Prnare nisi pretium</a></li>
                </ul>
                <div class="cart">
                    <div class="span3"><a class="popup-with-zoom-anim" href="#small-dialog"><i>Purchase</i></a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

            <div class="pricing-grids">
                <div class="pricing-grid1">
                    <div class="price-value">
                        <a href="#">Wesite hosting</a>
                    </div>
                    <h3><a href="#">$5.01/month</a></h3>
                    <ul>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sitamet, Consect</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Proin commodo turips</a></li>
                        <li><a href="#">Laws pulvinarvel</a></li>
                        <li><a href="#">Prnare nisi pretium</a></li>
                    </ul>
                    <div class="cart1">
                        <div class="span3"><a class="popup-with-zoom-anim" href="#small-dialog">
                            <j>Purchase</j>
                        </a>
                        </div>
                    </div>
                </div>
                <div class="pricing-grid2">
                    <div class="price-value">
                        <a href="#">Reseller cloud</a>
                    </div>
                    <h3><a href="#">$10.01/month</a></h3>
                    <ul>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sitamet, Consect</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Proin commodo turips</a></li>
                        <li><a href="#">Laws pulvinarvel</a></li>
                        <li><a href="#">Prnare nisi pretium</a></li>
                    </ul>
                    <div class="cart1">
                        <div class="span3"><a class="popup-with-zoom-anim" href="#small-dialog">
                            <k>Purchase</k>
                        </a>
                        </div>
                    </div>
                </div>
                <div class="pricing-grid3">
                    <div class="price-value">
                        <a href="#">Dedicated hosting</a>
                    </div>
                    <h3><a href="#">$20.01/month</a></h3>
                    <ul>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sitamet, Consect</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Proin commodo turips</a></li>
                        <li><a href="#">Laws pulvinarvel</a></li>
                        <li><a href="#">Prnare nisi pretium</a></li>
                    </ul>
                    <div class="cart1">
                        <div class="span3"><a class="popup-with-zoom-anim" href="#small-dialog">
                            <l>Purchase</l>
                        </a>
                        </div>
                    </div>
                </div>
                <div class="pricing-grid4">
                    <div class="price-value">
                        <a href="#">Dedicated hosting</a>
                    </div>
                    <h3><a href="#">$20.01/month</a></h3>
                    <ul>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sitamet, Consect</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Proin commodo turips</a></li>
                        <li><a href="#">Laws pulvinarvel</a></li>
                        <li><a href="#">Prnare nisi pretium</a></li>
                    </ul>
                    <div class="cart1">
                        <div class="span3"><a class="popup-with-zoom-anim" href="#small-dialog">
                            <m>Purchase</m>
                        </a>
                        </div>
                    </div>
                </div>
                <!-----pop-up-grid---->
                <div class="mfp-hide" id="small-dialog">
                    <div class="pop_up">
                        <div class="payment-online-form-left">
                            <form>
                                <h4><span class="shipping"> </span>Shipping</h4>
                                <ul>
                                    <li><input class="text-box-dark" onblur="if (this.value == '') {this.value = 'Frist Name';}" onfocus="this.value = '';"
                                               type="text"
                                               value="Frist Name"></li>
                                    <li><input class="text-box-dark" onblur="if (this.value == '') {this.value = 'Last Name';}" onfocus="this.value = '';"
                                               type="text"
                                               value="Last Name"></li>
                                </ul>
                                <ul>
                                    <li><input class="text-box-dark" onblur="if (this.value == '') {this.value = 'Email';}" onfocus="this.value = '';"
                                               type="text"
                                               value="Email"></li>
                                    <li><input class="text-box-dark" onblur="if (this.value == '') {this.value = 'Company Name';}" onfocus="this.value = '';"
                                               type="text"
                                               value="Company Name"></li>
                                </ul>
                                <ul>
                                    <li><input class="text-box-dark" onblur="if (this.value == '') {this.value = 'Phone';}" onfocus="this.value = '';"
                                               type="text"
                                               value="Phone"></li>
                                    <li><input class="text-box-dark" onblur="if (this.value == '') {this.value = 'Address';}" onfocus="this.value = '';"
                                               type="text"
                                               value="Address"></li>
                                    <div class="clear"></div>
                                </ul>
                                <div class="clear"></div>
                                <ul class="payment-type">
                                    <h4><span class="payment"> </span> Payments</h4>
                                    <li><span class="col_checkbox">
													<input class="css-checkbox1" id="3" type="checkbox">
													<label class="css-label1" for="3" name="demo_lbl_1"> </label>
													<a class="visa" href="#"> </a>
													</span>

                                    </li>
                                    <li>
													<span class="col_checkbox">
														<input class="css-checkbox2" id="4" type="checkbox">
														<label class="css-label2" for="4" name="demo_lbl_2"> </label>
														<a class="paypal" href="#"> </a>
													</span>
                                    </li>
                                    <div class="clear"></div>
                                </ul>
                                <ul>
                                    <li><input class="text-box-dark" onblur="if (this.value == '') {this.value = 'Card Number';}" onfocus="this.value = '';"
                                               type="text"
                                               value="Card Number"></li>
                                    <li><input class="text-box-dark" onblur="if (this.value == '') {this.value = 'Name on card';}" onfocus="this.value = '';"
                                               type="text"
                                               value="Name on card"></li>
                                    <div class="clear"></div>
                                </ul>
                                <ul>
                                    <li><input class="text-box-light hasDatepicker" id="datepicker" onblur="if (this.value == '') {this.value = 'Expiration Date';}"
                                               onfocus="this.value = '';" type="text"
                                               value="Expiration Date"><em
                                            class="pay-date"> </em></li>
                                    <li><input class="text-box-dark" onblur="if (this.value == '') {this.value = 'Security Code';}" onfocus="this.value = '';"
                                               type="text"
                                               value="Security Code"></li>
                                    <div class="clear"></div>
                                </ul>
                                <ul class="payment-sendbtns">
                                    <li><input type="reset" value="Cancel"></li>
                                    <li><input type="submit" value="Process order"></li>
                                </ul>
                                <div class="clear"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-----pop-up-grid---->
            </div>
            <div class="clear"></div>
        </div>
        <div class="client">
            <h3><img src="static/images/line.png"/><i>CLIENT ABOUT US</i><img src="static/images/line.png"/></h3>
            <div class="img">
                <img src="static/images/left.png"/>
            </div>
            <div class="data">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic</p>
                <p><a href="#">#INDUSTY</a></p>
            </div>
            <div class="img1">
                <img src="static/images/right.png"/>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- Add fancyBox light-box -->
<!-- Add fancyBox light-box -->
<script src="static/js/jquery.magnific-popup.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });
    });
</script>
<!-- //End fancyBox light-box -->
<!----End-pricingplans---->

<!----------- about ------------>
<div class="about" id="about">
    <div class="wrap">
        <h4>About Us</h4>
        <div class="section group">
            <div class="label_1_of_4 about_1_of_4">
                <img src="static/images/about1.jpg">
                <h3>MICHAEL TURNER </h3>
                <span>consectetur</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since.</p>
            </div>
            <div class="label_1_of_4 about_1_of_4">
                <img src="static/images/about2.jpg">
                <h3>JOHN SMITH </h3>
                <span>consectetur</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever.</p>
            </div>
            <div class="label_1_of_4 about_1_of_4">
                <img src="static/images/about3.jpg">
                <h3>ASHLEY HUNTER </h3>
                <span>consectetur</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer .</p>
            </div>
            <div class="label_1_of_4 about_1_of_4">
                <img src="static/images/about4.jpg">
                <h3>TIM BIRD </h3>
                <span>consectetur</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
            </div>
        </div>
        <div class="client">
            <h3><img src="static/images/line.png"/><i>Our skills</i><img src="static/images/line.png"/></h3>
            <!----------- clock position ------------>
            <div></div>
            <div class="pie-wrapper progress-45 style-2">
                <span class="label">45<span class="smaller">%</span></span>
                <div class="pie">
                    <div class="left-side half-circle"></div>
                    <div class="right-side half-circle"></div>
                </div>
                <div class="shadow"></div>
                <h3>WEB-DESIGN</h3>
            </div>

            <div class="pie-wrapper progress-75 style-2">
                <span class="label">75<span class="smaller">%</span></span>
                <div class="pie">
                    <div class="left-side half-circle"></div>
                    <div class="right-side half-circle"></div>
                </div>
                <div class="shadow"></div>
                <h3>CREATIVE</h3>
            </div>

            <div class="pie-wrapper progress-95 style-2">
                <span class="label">95<span class="smaller">%</span></span>
                <div class="pie">
                    <div class="left-side half-circle"></div>
                    <div class="right-side half-circle"></div>
                </div>
                <div class="shadow"></div>
                <h3>UI-DESIGN</h3>
            </div>
            <div class="pie-wrapper progress-45 style-2">
                <span class="label">45<span class="smaller">%</span></span>
                <div class="pie">
                    <div class="left-side half-circle"></div>
                    <div class="right-side half-circle"></div>
                </div>
                <div class="shadow"></div>
                <h3>PROTOTYPES</h3>
            </div>
            <div class="pie-wrapper progress-75 style-2">
                <span class="label">75<span class="smaller">%</span></span>
                <div class="pie">
                    <div class="left-side half-circle"></div>
                    <div class="right-side half-circle"></div>
                </div>
                <div class="shadow"></div>
                <h3>PHOTOGRAPHY</h3>
            </div>
        </div>
    </div>
</div>

<!--------start-contact----------->
<div class="contact" id="contact">
    <div class="wrap">
        <h2>Contact Us</h2>
        <div class="contact-form">
            <div class="form">
                <h3>MAIL</h3>
                <form action="#" method="post">
                    <input class="textbox" onblur="if (this.value == '') {this.value = 'Name';}" onfocus="this.value = '';" type="text"
                           value=" Name">
                    <input class="textbox" onblur="if (this.value == '') {this.value = 'Email';}" onfocus="this.value = '';" type="text"
                           value="Email">
                    <div class="clear"></div>
                    <div>
                        <textarea onblur="if (this.value == '') {this.value = ' Message';}" onfocus="this.value = '';"
                                  value="Message:">Message</textarea>
                    </div>
                    <div class="span4">
                        <a href="#">
                            <i><input type="submit" value="Submit mail"></i>
                            <div class="clear"></div>
                        </a>
                    </div>
                </form>
            </div>
            <div class="para-contact">
                <h4>MORE INFO</h4>
                <div class="get-intouch-left-address">
                    <p>2345 Setwant natrer, 1234</p>
                    <p>Washington. United States.</p>
                    <p>2345 Setwant natrer, 1234</p>
                    <p>Washington. United States.</p>
                    <p>(401) 1234 567</p>
                    <p><a href="mailto:info@mycompany.com"> info(at)appstore.com</a></p>
                </div>
                <div class="span4">
                    <a href="#">
                        <i><input type="submit" value="Purchase"></i>
                        <div class="clear"></div>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
            <a class="mov-top" href="#home1"> <span> </span></a>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!--------//end-contact----------->

<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>
</html>